---
# handlers
- name: init elasticsearch
  command: update-rc.d elasticsearch defaults 95 10
  tags: [elasticsearch]

- name: restart elasticsearch
  service: name=elasticsearch state=restarted
  when: es_manage_service
  tags: [elasticsearch]
